.formulario ,.listMessage{
    border: solid 1px;
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
    width: 450px;
    height: auto;
}
#inputMensaje{
    resize: none;
}

.ulForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}
.liForm{
    border: solid 1px;
    width: 100%;
    list-style: none;
    margin: 5px;
    padding: 20px;
    background-color: bisque;
}