.navBar{
    background-color: #ffd878; 
    position: fixed;
    width: 100%;
    height: 70px;
    color: black;
    display: flex;
justify-content: space-around;
padding: 10px;
}
@media all and (max-width: 	768px){
    .navBar{
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
}
