.itemsNavBar{
    list-style: none;
    margin: 15px;
}
.linkNavBar{
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    color: black;
}
@media all and (max-width: 	768px){
    .linkNavBar{
        font-size: 13px;
        text-decoration: none;
        color: black;
    }
}